* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.barra {
    text-align: center;
    background-color: black;
    border: black solid 2px;
    padding: 6px 1px;
    display: block;
    margin-top: 0;
    color: rgb(255, 255, 255);
}

.barras {
    margin-top: 50px;
    text-align: center;
    background-color: black;
    border: black solid 2px;
    padding: 10px 1px;
    display: block;
    color: rgb(255, 255, 255);
}

.h4 {
    margin-top: 25px;
    text-align: center;
}

button {
    border: none;
}

.img {
    margin-top: 25px;
    width: 100%;
    width: 1100px;
    height: 370px;
    background-image: url(papel-de-parede-para-celular-gratis-gta-san-andreas\ \(2\).jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tex1 {

    margin-top: 30px;
    text-align: center;
}

button {
    z-index: 10;
    margin-left: 25px;
    margin-top: 25px;
    font-family: 'Anton' sans-serif;
    cursor: pointer;
    border: none;
    position: absolute;

}

button:hover {
    background-color: rgb(195, 191, 191);
}

.tela {
    position: absolute;
}